body {
    background-color: black;
} 

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

#search-bar {
    width: 700px;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 30px;    /* make the search bar rounded corner*/
}

#search-button, #lucky-button {
    width: 170px;
    height: 40px;
    font-size: 20px;
    /* From Google's css */
    background: #202124;
    border: 1px solid #5f6368;
    color: #bdc1c6;
}

#lucky-button {
    margin-left: 10px;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 22px;
}

#go-back-search {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
}

.google-logo {
    font-family: 'Arial', sans-serif;
    font-size: 96px;
    color: white; 
    text-align: center;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
}
  

label {
    color: white;
}

.advanced-search {
    display: flex;
    flex-direction: column;
}  

.as-1, .as-2, .as-3, .as-4 {
    font-size: 22px;
    margin-bottom: 20px;
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.textInput {
    padding: 1px 8px;
    font-size: 17px;
    width: 700px;
    height: 25px;
    /* From Google's css */
    background: #202124;
    border: 1px solid #5f6368;
    color: #bdc1c6;
}

.advanced-search-button {
    width: 200px;
    height: 40px;
    font-size: 20px;
    align-self: center;
    /* From Google's css */
    background: #8ab4f8;
    border-color: #8ab4f8;
    color: white;
}

