body {
    /* margin: 0; */
    /* height: 100vh; */
    background-color: white;
} 

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    display: flex;
    /* flex: 1; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 70vh;
}

#search-bar {
    width: 700px;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 30px;    /* make the search bar rounded corner*/
}

#search-button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 30px;    /* make the search button rounded corner*/
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 20px;
}

#go-back-search {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 20px;
}